#root {
    font-family: sans-serif;
    background-color: #bbdefb ;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

* {
    margin: 0;
    padding: 0;

}
main {
    padding: 10px;
    text-align: center;
}
#header {
    //font-size: min(calc(10px + 0.3vw + 0.3vh), 40px);
    font-family: 'Gill Sans', monospace;
    color: #F6F836;
    text-align: left;
    background-color: #4db6ac;
    border: 5px solid #4db6ac;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
body {
    height: 100%;
    width: 100%;
    background-color: #bbdefb ;

}
.variable_name {
    margin: 30px;
    font-size: calc(20px + 0.5vw);

}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: min(calc(10px + 0.3vw + 0.3vh), 30px);

    border-collapse: separate;
    border-spacing: 5px;
    background: #4db6ac;
    border: 5px solid #4db6ac;
    border-radius: calc(10px);
    width: 90%;
    margin: auto;
    transition: 0.3s;

}
.table {
    text-align: center;
    overflow: scroll;
}
.table-container {
    text-align: center;
    padding:25px;
}

td {
    background: #E8E4E3;
}
.card {
    position: relative;
    width: 360px;
    height: 360px;
    padding: 0 0 0 0;
    margin: 30px auto auto;
    align-items: center;
    display: flex;
    overflow: hidden;
}
#graph {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 0 0 0;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
    background-color: #A5EFE7;
}
#graph-back {
    position: absolute;
    left: -100px;
    right: -100px;
    top: -100px;
    bottom: -100px;
    background-image: conic-gradient(from 0deg, blue, cyan, #38C0F6, #3856F6, #7368C3, #9668C3, #BF7DFF, blue);
    animation: rotate 3s linear infinite;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

button {
    background-color: #c7e0ff;
    font-size: calc(10px + 0.5vw);
    margin: 10px;
    padding: 5px 15px;
    transition: 0.3s;
    border: solid #4db6ac 3px;
    border-radius: 6px;
    width:70%;

}

button:enabled:active {
    transition: 0s;
    box-shadow: inset 0 0 0 5px #2f6144;
}

input[type="radio"] {
    margin: 0 20px;
}
input[type="text"]{
    text-align: center;
}
input[type="password"] {
    text-align: center;

}


.form {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 3
}
.formElemTit{
    -webkit-text-stroke: 1px black;


}

.button-enabled {
    background-color: #9A9A9A;
    font-size: 20px;
    margin: 10px;
    padding: 5px 15px;
    box-shadow: inset 0 0 0 5px #2f6144;
}
.button:enabled:active {
    transition: 0s;
    box-shadow: inset 0 0 0 5px #2f6144;
}
h2, h1  , h3, h4 {
    color: yellow;

    -webkit-text-stroke: 1px black;
}



header:hover h3 {
    opacity: 0;
}
header:hover h4 {
    text-align: center;
    transform: scale(2);
    transition-duration: 0.3s;
}
header:hover h2::after {
    content: '. ITMO, 2022';
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loginInp, #passInp, #submitButton, #refer {

    font-size: min(calc(10px + 0.4vw + 2vh), 50px);
    height:auto;
    margin: 30px auto;
    color: black;


}
#loginInp, #passInp, #enter-r, #enter-x, #enter-y, #send-data, #go-back {

    width: 80%;

}



#inputs {
    text-align: center;
    width: 80%;
    margin: auto;
}

.page-link {
    font-size: min(calc(10px + 0.3vw + 0.3vh), 30px) !important;
}



.pagination {
    user-select: none;
    align-items: center;
    background-color: #bbdefb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    position: relative;
    padding: 10px;
}


.page-link {
    position: relative;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #4db6ac;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 10px;
}

.page-link:hover {

    z-index: 2;
    color: white;
    background-color: cadetblue;
    border-color: #dee2e6;
}

.page-link:focus {

    z-index: 3;
    color: black;
    background-color: yellow;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}




.form {
    position: relative
}

.fields {

    margin: auto;
    padding-bottom: 15px;
    text-align: center;
    width: 80%;
    background-color: #b2cdf7;
    border: 3px solid #4db6ac;
    border-radius: 16px;
}
.inputs {
    align-items: center;
    text-align: center;
    padding-top: 30px;

}
::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 601px) and (max-height: 1099px) {
    .fields {
        width: 60%;
    }
    #loginInp, #passInp, #submitButton, #refer {

        font-size: 40px;

    }

   h1, h2, h3, h4 {
       font-size: 40px;

   }
   #header {
       font-size: 50px;
   }
    #enter-r, #enter-x, #enter-y, #send-data, #go-back, .variable_name {
        font-size: 30px;

    }
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) and (max-height: 1099px) {

    #loginInp, #passInp, #submitButton, #refer {

        font-size: 20px;

    }
    h1, h2, h3, h4 {
        font-size: 20px;

    }
    #header {
        font-size: 30px;
    }
    #enter-r, #enter-x, #enter-y, #send-data, #go-back, .variable_name {
        font-size: 20px;

    }
}
@media screen and (min-height: 1100px) {
    #loginInp, #passInp, #submitButton, #refer {

        font-size: 60px;

    }

    h1, h2, h3, h4 {
        font-size: 60px;

    }
    #header {
        font-size: 80px;
    }
    #enter-r, #enter-x, #enter-y, #send-data, #go-back, .variable_name {
        font-size: 40px;

    }
    table {
        font-size: 30px;
    }
    .page-link {
        font-size: 30px !important;
    }
}
